body{
    background-color:rgb(242, 216, 216);
}
h1,h2,h3,h4{
    color:rgb(55, 66, 89);
    text-align: center;
}
.links {
    font-size: 30px;
    text-align:center;
   color:rgb(55, 66, 89);
     
}

img {
  
  min-height: 100%;
  min-width: 500px;
	
 
  width: 100%;
  height: auto;
}
h1 {
   font-size: 80px;    
}
h3 {
    font-size: 50px;
}